.w-search-bar {
    position: relative;

    &__icon {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    &__input {
        padding-left: 30px;
    }

    &__progress {
        margin-top: 10px;
        margin-bottom: 10px;

        &.progress {
            height: 4px;
        }
    }

    &--pad {
        margin-bottom: 24px;
    }
}